/*Start Style Top Header*/
.top-header{

}
.top-header .container{
    
}
.top-header .container .col-friday{

}
.top-header .container .col-friday img{

}
.top-header .container .col-friday p{

}
.top-header .container .col-discount{
    
}
.top-header .container .col-discount img{

}
.top-header .container .col-shop{
    
}
.top-header .container .col-shop a{

}
.top-header .container .col-shop img{

}
/*End Style Top Header*/

/*Start Style Center Header*/
.center-header{
    border-bottom: 1px solid #c2bfbf;
}
/*End Style Center Header*/

/*Start Style Bottom Header*/

/*End Style Bottom Header*/