.col-brand{
    border-left: 1px solid #ddd;
}
@media (max-width: 768px){
    .col-brand{
        width: 150px;
        height: 70px;
    }
}
@media (max-width: 520px){
    .col-brand{
        display: none;
    }
}