.col-brand{
    border-left: 1px solid #ddd;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
}
@media (max-width: 768px){
    .col-brand{
        width: 150px;
        height: 70px;
    }
}