.banners-departament .container{
   /* min-width: 100%;*/
   width: 100%;
    height: 100%;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banners-col{
    height: 250px;
}
.content-information{
    width: 300px;
}
.shop-banner-btn{
    width: 150px;
    border-radius: none !important;
}
.banners-col:hover img{
    transition: transform 0.5s ease;
}
.banners-col:hover img{
    transform: scale(1.2);
}
@media (max-width: 1100px){
    .banners-departament .container{
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }
    .banners-col{
        max-width: 300px;
        height: 200px;
    }
    .col-text h3{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .col-text p{
        font-size: 15px;
    }
    .shop-banner-btn{
        max-width: 130px;
        font-size: 13px;
        font-weight: bold;
    }
}
@media (max-width: 992px){
    .banners-departament{
        margin-top: 20px;
    }
    .banners-col{
        min-width: 50%;
    }
    .shop-banner-btn{
        max-width: 110px;
        font-size: 13px;
        font-weight: bold;
    }
    .banners-col:nth-child(3){
       display: none;
    }
}
@media (max-width: 768px){
    .content-information{
        min-width: 170px;
       justify-content: space-between;
    }
}
@media (max-width: 650px){
    .banners-departament .container{
        display: flex;
        flex-direction: column;
    }
    .banners-col{
        min-width: 70%;
        height: 200px;
        justify-content: space-between;
    }
}
@media (max-width: 600px){
    .banners-col{
        min-width: 100%;
    }
}










