.featured-products{
    min-width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
@media (max-width: 1100px){
    .featured-products{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 768px){
    .featured-products{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.featured-products .all-products{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.featured-products .all-products .col-product{
    width: 260px !important;
    height: 380px;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.featured-products .all-products .col-product .col-image{
    width: 100%;
    height: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
}
.featured-products .all-products .col-product .col-image img{
    position: absolute;
    width: fit-content;
    height: 100%;
}
.featured-products .all-products .col-product .view-whishlist-col{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.featured-products .all-products .col-product:hover .view-whishlist-col{
    opacity: 1;
}
/*@media (max-width: 600px){
    .featured-products .all-products .col-product{
        min-width: 100% !important;
    }
}*/