@media (min-width: 992px){
    .navbar-mobile{
        display: none;
    }
}
@media (max-width: 768px){
    .navbar-mobile{
        width: 75%;
    }
}
.link{
    text-transform: capitalize;
    color: #777777;
    transition: color 0.5s ease;
}
.link:hover{
    color: #151515;
}
.link:hover::before,
.link:hover::after{
    display: none;
}/*
.content-navbar{
    transition: display 0.5s ease;
}
.content-navbar.display{
    display: none;
}*/