.product-information .container{
    min-width: 100%;
    min-height: 500px !important;
    margin-top: 40px;
    margin-bottom: 40px;
}
.product-information .container .images-content{
    max-width: 50%;
    height: 100%;
    position: relative;
}
.product-information .container .images-content .main-img-product{
   /* width: 600px;*/
   width: 600px;
    height: 600px;
}
.product-information .container .images-content img{
  /*  position: absolute;
    top: 0;
    left: 0;*/
    width: 110px;
    height: 110px;
    cursor: pointer;
}/*
.product-information .container .images-content .all-images-small{
    width: 100%;
    height: 100px;
}*/